<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<section class="table-container">
	<button class="add-credit-button" onclick="inputModal('Enter credit amount:');">Add credit</button>
	<!-- <button class="add-credit-button" onclick="alertModal();">Add credit</button> -->

	<table>
		<tr>
			<th>
				<input type="checkbox" id="select-all" onchange="checkAll(this)"/>
			</th>
			<th>
				Name
			</th>
			<th>
				Orders
			</th>
			<th>
				Last Order
			</th>
			<th>
				Total Spent
			</th>
			<th>
				Store Credit
			</th>
		</tr>
		<% @customers.each do |customer| %>
		<tr>
			<td>
				<input type="checkbox" id="select-<%= customer.id %>" />
			</td>
			<td>
				<a href="https://decodemtla.myshopify.com/admin/customers/<%= customer.id %>" target="_blank">
					<%= customer.first_name %> <%= customer.last_name %>
				</a>
			</td>
			<td>
				<%= customer.orders_count %>
			</td>
			<td>
				<a href="https://decodemtla.myshopify.com/admin/orders/<%= customer.last_order_id %>" target="_blank">
					<%= customer.last_order_name %>
				</a>
			</td>
			<td>
				$<%= customer.total_spent %>
			</td>
			<td class="credit-<%= customer.id %>">
				$0.00
			</td>
		</tr>
		<% end %>
	</table>
</section>
